
<h1>
  Unit Of Measures List
</h1>

<a [routerLink] ="['create']" class="btn btn-primary">
   Create UnitOfMeasure
</a>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let unitOfMeasure of measures">
      <td>
       {{unitOfMeasure.id}}
      </td>
      <td>
        {{unitOfMeasure.name}}
      </td>
      <td>
        {{unitOfMeasure.description}}
      </td>
      <td>
        <a [routerLink] ="['edit', unitOfMeasure.id]" class="btn btn-secondary">
          Edit
        </a>
      </td>
    </tr>
  </tbody>
</table>
