
<app-back header="Unit Of Measure">

</app-back>

<a [routerLink]="['create']" class="btn btn-primary">
  Create Product
</a>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let unit of unitOfMeasures">
      <td>
        {{unit.id}}
      </td>
      <td>
        {{unit.name}}
      </td>
      <td>
        {{unit.description}}
      </td>
      <td>
        <a [routerLink]="['edit', unit.id]" class="btn btn-secondary">
          Edit
        </a>
      </td>
    </tr>
  </tbody>
</table>
